.simple {
    border: 1px solid gray;
    background-color: white;
    aspect-ratio: 1;
    margin-right: 0.5em;
    border-radius: 50%;
    display: inline-block;
}

.simple:hover {
    border: 1px solid #209cee;
    background-color: #209cee;
    aspect-ratio: 1;
    margin-right: 0.5em;
    border-radius: 50%;
    display: inline-block;
}

.body {
    padding-left: 1em;
    padding-top: 2.5em;
}

.body h1 {
    font-size: x-large;
    padding-bottom: 0.3em;
}


.todoitem {
    border-bottom: 0.5px solid gray;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    max-lines: 1;
    overflow: hidden;
    font-size: medium;
    max-height: 2.4em;
}

.additem {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.addbutton {
    border: transparent;
    background-color: white;
    margin-left: -0.3em;
    margin-right: 0.1em;
    display: inline-block;
    font-size: medium;
}

.addbutton:hover {
    color: #209cee;
}


