.simple {
    border: 1px solid black;
    background-color: white;
    aspect-ratio: 1;
    margin-right: 0.5em;
    border-radius: 50%;
    display: inline-block;
}

.simple:hover {
    border: 1px solid black;
    background-color: black;
    aspect-ratio: 1;
    margin-right: 0.5em;
    border-radius: 50%;
    display: inline-block;
}

